.facial-container {
  width: 100%;
}

.facial-wrapper {
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
}

.facial-title {
  font-size: 2rem;
  color: #f44a22;
}

.facial-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.facial-video {
  width: 90%;
  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: 12px;
}

.facial-text-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
}

.facial-description {
  font-size: 0.8rem;
  color: #f44a22;
  line-height: 1.6;
  letter-spacing: 0.5px;
}
.bottom-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  height:10vh;
}
.facial-button {
  padding: 0.7rem 1.2rem;
  margin-top: 1.5rem;
  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: 0.5px;
  color: #f44a22;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
    background: rgba(20, 18, 17, 0.75); /* Darker semi-transparent */
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.facial-button:hover {
  background: #2d2927;
  transform: translateY(-2px);
}

.facial-mood {
  margin-top: 1rem;
  font-size: 1.1rem;
  font-weight: 400;
  color: #333;
}

.facial-mood span {
  color: #f44a22;
  font-weight: 400;
}

@media (max-width: 768px) {
  .facial-wrapper {
    padding: 2rem 1rem;
  }

  .facial-title {
    font-size: 1.8rem;
  }

  .facial-content {
    flex-direction: column;
    align-items: center;
  }

  .facial-video {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .facial-wrapper {
    padding: 1.5rem 1rem;
  }

  .facial-title {
    font-size: 1.5rem;
  }

  .facial-button {
    padding: 0.6rem 1rem;
    font-size: 0.7rem;
  }

  .bottom-container {
    flex-direction: column;
    align-items: flex-start;
  }
}
