.main-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  color: #0c0a09;
}

.top-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* fallback added */
}

/* For tablets */
@media (max-width: 768px) {
  .top-container {
    flex-direction: column;
    align-items: center;
  }
}

/* For mobile phones */
@media (max-width: 480px) {
  .main-container {
    align-items: center;
  }
  .top-container {
    gap: 1rem;
  }
}