*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'satoshi';
    
}
html,body{
    width: 100%;
    height:100%;
    background-color: #0c0a09;
}

/* For mobile phones */
@media (max-width: 480px) {
  html {
    font-size: 14px;
  }
}